---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Acerca de mi"
	description="Acerca de mi"
	pubDate={new Date('Marzo 24 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Profesional con alta experiencia en control de calidad, construcción de plan de testing, técnicas de selección 
		de pruebas, definición de casos de pruebas en base con los requisitos funcionales y no funcionales, análisis y 
		reporte de pruebas, conocimiento de metodologías y modelos de calidad para la industria del software con más de 
		once años de experiencia laboral en aplicativos financieros donde he adquirido extensos conocimientos en ISTQB, 
		SCRUM, BPM, modelo en V, PLSQL, Java, Jmeter, Git, Cucumber, Jira, Xray herramientas para la ejecución y 
		seguimiento de testing, manejo de bases de datos y proyectos.
	</p>	
</Layout>
